.navbar {
  width: 100%;
  height: 80px;
  background-color: rgb(19, 19, 19);
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 20px;
  box-sizing: border-box;
  overflow-x: hidden;
}

.hamburger {
  display: none;
  flex-direction: column;
  cursor: pointer;
}

.hamburger div {
  width: 25px;
  height: 3px;
  background-color: white;
  margin: 5px 0;
}

.links {
  display: flex;
  align-items: center;
}

.links a {
  text-decoration: none;
  color: white;
  margin-left: 20px;
  font-size: 25px;
  white-space: nowrap;
}

@media only screen and (max-width: 768px) {
  .navbar {
    padding: 0 20px;
  }

  .hamburger {
    display: flex;
  }

  .links {
    display: none;
    position: absolute;
    top: 80px;
    left: 0;
    background-color: rgb(19, 19, 19);
    width: 100%;
    text-align: left;
    padding: 10px 20px;
    box-sizing: border-box;
  }

  .links.active {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
  }

  .links a {
    margin: 10px 0;
    font-size: 20px;
    display: block;
  }
}

@media only screen and (max-width: 600px) {
  .navbar {
    padding: 0 20px;
  }

  .links a {
    font-size: 18px;
  }

  .hamburger div {
    width: 20px;
    height: 2px;
  }
}
